
.div_parent_center{
  width:80%; 
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

.div_parent{
  font-size: 3cqi;
}

.div_top{
  background-color: orange;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div_left{
  background-color: skyblue;
  height: 200px;
  width: 20%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div_center{
  background-color: beige;
  height: 200px;
  width: 80%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div_footer{
  background-color: royalblue;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
